---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import PortfolioSelection from '../components/PortfolioSelection.astro';
import AboutSection from '../components/AboutSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import AchievementsSection from '../components/AchievementsSection.astro';
import EducationSection from '../components/EducationSection.astro';
import ContactSection from '../components/ContactSection.astro';
import SectionDivider from '../components/SectionDivider.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<SectionDivider className="my-8" />
		<div id="portfolio-selection">
			<PortfolioSelection />
		</div>
		<SectionDivider className="my-8" />
		<AboutSection />
		<SectionDivider className="my-8" />
		<ExperienceSection />
		<SectionDivider className="my-8" />
		<SkillsSection />
		<SectionDivider className="my-8" />
		<AchievementsSection />
		<SectionDivider className="my-8" />
		<EducationSection />
		<SectionDivider className="my-8" />
		<ContactSection />
	</main>
</Layout>
