---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import AchievementsSection from '../components/AchievementsSection.astro';
import EducationSection from '../components/EducationSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <AboutSection />
    <ExperienceSection />
    <SkillsSection />
    <AchievementsSection />
    <EducationSection />
    <ContactSection />
  </main>
</Layout>
